/* SAP Fiori Icons */
@font-face {
	font-family: 'SAP Fiori Icons 3';
	src:	url('https://alexisbrockway-20.github.io/CustomFontsTest2/SAP-icons.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}